@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

hr {
    background: linear-gradient(#008899, #00ff99);
    padding: 1px;
    margin-bottom: 15px;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    display: block;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: linear-gradient(#444444, #333333);
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-links li {
    transition: all 0.3s ease 0s;
    color: white;
}

.nav-links li:hover {
    color: #0088a9;
}

.logo {
    color: #0088a9;
    margin-left: 30px;
}

.logo:hover {
    color: #119fff;
}

footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    background: #444444;
    color: white;
}

/* PADRONIZAÇÃO */
.body-news, .news-fetch, .about, .business, .home {
    margin: 50px 135px 0px 135px;
}

.body-news .title {
    text-align: center;
    color: #0088a9;
    padding: 20px;
}

.body-news .body {
    text-align: justify;
}

.news-fetch .title{
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #0088a9;
    margin-top: 10px;
}

.news-fetch .thumb {
    max-width: 300px;
    max-height: 200px;
}

.news-fetch .summary {
    text-transform: initial;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}