* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Poppins;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: linear-gradient(#444444, #333333);
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.logo {
    color: white;
}

.footer {
    /* width: 100%; */
    bottom: 0;
    background: #444444;
    color: white;
    position: absolute;
}